[Calculator]
queueCapacity = 2
chkTimer      = 3
threshold     = 10

[Scanner]
deviceId      = 0
loops         = 1
filter        = ""
topic_id      = /lab3/ble/rssi/
nearest_id    = /lab3/ble/nearest/

[Emitter]
send_url       = 127.0.0.1
send_port      = 9870
receive_url    = ""
receive_port   = 9876
keepalive      = 60
sleepInterval = 3
debug         = 1

[Collector]
send_url       = 127.0.0.1
send_port      = 9876
receive_url    = ""
receive_port   = 9870
keepalive      = 60
debug         = 1